body 
{
background-image: url("../images/background3.png");
}

    body_1 
    {
        color: brown;
        text-align: center; 
        background-color: white;
        background-image: url("../images/background3.png");
    }
