#head {
color: brown;
}
/*<style>
    body{
        background-color: antiquewhite;
    }
</style>
<body>
<p><h1 style="text-align:center;">Помазанов Кирило Вадимович</h1></p>
<p><h2 style="text-align:center;">РезюмЄ</h2></p>

<style>
<style>
   .fig {
    text-align: center; 
}
</style>
/*